code {
  color: #123fde;
}

h1 {
  font-size: 24pt;
  font-weight: bold;
}

a {
  text-decoration: underline;
  text-underline-offset: 2pt
}

a:hover {
  color: #123fde
}

#get-raw-now:hover {
  cursor: pointer;
  background-color: #bbbbbb;
}

button{
  position:absolute;
  top:0;
  right:0;
  font-size:.9rem;
  padding:.15rem;
  background-color: white;
  color: #1e1e1e;
  border:ridge 1px black;
  border-radius:5px;

}

pre {
  position: relative;
  display: block;
  width: 80vw;
  overflow-wrap: break-all;
  word-wrap: break-all;
}

code {
  width: 80vw;
  overflow-wrap: break-all;
  word-wrap: break-all;
}

button:hover{
  cursor:pointer;
  background-color: rgb(34 197 94);;
  color: white;
  border: transparent;
}